html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
  font: 100% Helvetica, sans-serif; }

.container {
  font: 100% Helvetica, sans-serif; }
  .container .topic img {
    max-width: 100%;
    height: auto; }
  .container .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a51220; }
    .container .menu ul li {
      float: left;
      height: 100%; }
      .container .menu ul li:first-child {
        padding-left: 160px; }
      .container .menu ul li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none; }
        .container .menu ul li a:hover {
          background-color: #980D17; }
        .container .menu ul li a img {
          width: 15px; }

/*# sourceMappingURL=style.css.map */
