@import "../../mixins/reset";
@import "../../mixins/master";

$font-stack:    Helvetica, sans-serif;
.container{
    font: 100% $font-stack;
    .topic{
        img{
            max-width: 100%;
            height: auto;
        }
    }
  
    .menu{
        ul{
            @include menu-ul(#a51220);
            li{
                @include menu-ul-li();
                a{
                    @include menu-ul-li-a(white,#980D17);
                }
            }
        }
    }
}