@mixin menu-ul($background-color) {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $background-color;
}
@mixin menu-ul-li() {
    float: left;
    height: 100%;
    
}
@mixin menu-ul-li-a($text-color, $hover-color) {
    display: block;
    color: $text-color;
    text-align: center;
    padding: 14px 0px 14px 16px;
    text-decoration: none;
    &:hover{
        background-color: $hover-color;
    }
    img{
        width: 15px;
    }
    
}
  
  