
@font-face {
  font-family: Playfair Display;
  src:
    local(Playfair Display),
    local(PlayfairDisplay-Regular),
    url(../style/fonts/PlayfairDisplay-Regular.ttf);
}
@font-face {
  font-family: Inconsolata;
  src:
    local(Inconsolata),
    local(Inconsolata-Regular),
    url(../style/fonts/Inconsolata-Regular.ttf);
}
@font-face {
  font-family: Roboto;
  src:
    local(Roboto),
    local(Roboto-Regular),
    url(../style/fonts/Roboto-Regular.ttf);
}

html,
body,
ul,
ol {
  margin:  0;
  padding: 0;
  font-family: 'Playfair Display', serif;
}
