@import "../../libs/mixin";

$font-sfd-bold: sans-serif;
$font-sfd-medium: sans-serif;
$font-arial: sans-serif;
$box-width: 620px;

$color-title: #004175;

#box-sport {
	width: $box-width;
	height: auto;
	display: flex;
	flex-direction: column;
	border: 1px solid #f1f1f1;
	background: #f0f0f0;
	padding-bottom: 20px;
	.top {
		background: url("image/top.png");
		width: inherit;
		height: 33px;
	}
}

.post-highlight {
	align-content: center;
	display: flex;
	margin: 20px 20px 10px 20px;
	border-bottom: 1px solid #f3f3f3;
	padding-bottom: 10px;
	.img-cover {
		width: 55%;
		margin-right: 20px;
		img{
			width: 100%;
		}
	}
	.content {
		width: 45%;
		.post-cover {
			.title-post {
				@include reset-pm;
				a {
					@include define-a($color-title,24px, 30px);
					margin-top: -5px;
				}
			}
			.description {
				    font-size: 15px;
				    font-family: $font-arial;
				    color: #111;
				    line-height: 18px;
				    display: block;
			}
		}
		
	}
}

$box-height: auto;

.news-slide {
	max-width: 580px;
	height: $box-height;
	font-family: sans-serif;
	box-sizing: border-box;
	margin-left: 20px;
	//news slide
	.news-list {
		@include reset-ul-li;
		position: relative;
		overflow: hidden;
		width: inherit;
		.gallery {
			width: 200*9+20px; //=sum(li)*width(li)+margin20
			display: flex;
			white-space: nowrap;
			position: relative;
			transition: .5s;
		}
		// news list
		.article {
			width: 178px;
			margin-left: 15px;
			border: 1px solid #e6e6e6;
			background: #fff;
			border-radius: 3px;
			box-sizing: content-box;
			box-shadow: 0px 1px 5px 0 rgba(0,0,0,0.05);
			display: flex;
			flex-direction: column;
			&:first-child{
				margin-left: 0px;
			}
			.header {
				position: relative;
				display: block;
				img {
					width: 100%;
					height: auto;
				}
			}
			.title {
				padding: 10px;
				margin: 0px;
				font-size: 17px;
				width: inherit;
				box-sizing: border-box;
				a {
					@include define-a($color-title, 17px, 22px);
					font-family: sans-serif;
					white-space: pre-line;
				}
			}
		}
		
		// button control next-previous
		.btn-prev, .btn-next, .btn-disable {
			position: absolute;
			width: 35px;
			height: 65px;
			z-index: 10;
			cursor: pointer;
			top: 20px;
		}

		.btn-prev, .btn-next {
			background: url("image/next.png") 10px 15px no-repeat;
			background-color: rgba(255,255,255, 0.8);
			border-radius: 3px 0 0 3px;
		}

		// button previous
		.btn-prev {
			transform: scale(-1);
			filter: FlipH;
			left: -35px;
			
			transition: .5s;
		}
		// button next
		.btn-next {
			right: 0;
		}

		//button disable
		.btn-disable {
			background-color: #333 !important;
			opacity: .8;
			pointer-events: none;
		}

		.btn-prev, .btn-next {
			&:hover {
				background-color: rgba(255,255,255, 1);
			}
		}
		&:hover {
			.btn-prev {
				animation-name: show__btn-prev;
				animation-duration: .5s;
				-webkit-animation-name: show__btn-prev;
				-webkit-animation-duration: .5s;
				left: 0;
			}
		}
	}
}

// animation show button previous of slide
@keyframes show__btn-prev {
	from {left: -35px}
	to {left: 0}
}
@-webkit-keyframes show__btn-prev {
	from {-webkit-left: -35px}
	to {-webkit-left: 0}
}

.move-left-x {
	margin: 0 -35px !important;
	transition: .5s;
}

.move-right-x {
	margin: 0 35px !important;
	transition: .5s;
}