@font-face {
  font-family: Playfair Display;
  src: local(Playfair Display), local(PlayfairDisplay-Regular), url(../style/fonts/PlayfairDisplay-Regular.ttf); }
@font-face {
  font-family: Inconsolata;
  src: local(Inconsolata), local(Inconsolata-Regular), url(../style/fonts/Inconsolata-Regular.ttf); }
@font-face {
  font-family: Roboto;
  src: local(Roboto), local(Roboto-Regular), url(../style/fonts/Roboto-Regular.ttf); }
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif; }

.row {
  font-size: 0; }

.col-1 {
  width: 8.3333333333%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 60px; }
  @media only screen and (min-width: 768px) {
    .col-1 {
      width: 8.3333333333%;
      vertical-align: top; } }
  @media only screen and (max-width: 480px) {
    .col-1 {
      padding-right: 0px; } }

.col-2 {
  width: 16.6666666667%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 60px; }
  @media only screen and (min-width: 768px) {
    .col-2 {
      width: 16.6666666667%;
      vertical-align: top; } }
  @media only screen and (max-width: 480px) {
    .col-2 {
      padding-right: 0px; } }

.col-3 {
  width: 25%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 60px; }
  @media only screen and (min-width: 768px) {
    .col-3 {
      width: 25%;
      vertical-align: top; } }
  @media only screen and (max-width: 480px) {
    .col-3 {
      padding-right: 0px; } }

.col-4 {
  width: 33.3333333333%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 60px; }
  @media only screen and (min-width: 768px) {
    .col-4 {
      width: 33.3333333333%;
      vertical-align: top; } }
  @media only screen and (max-width: 480px) {
    .col-4 {
      padding-right: 0px; } }

.col-5 {
  width: 41.6666666667%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 60px; }
  @media only screen and (min-width: 768px) {
    .col-5 {
      width: 41.6666666667%;
      vertical-align: top; } }
  @media only screen and (max-width: 480px) {
    .col-5 {
      padding-right: 0px; } }

.col-6 {
  width: 50%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 60px; }
  @media only screen and (min-width: 768px) {
    .col-6 {
      width: 50%;
      vertical-align: top; } }
  @media only screen and (max-width: 480px) {
    .col-6 {
      padding-right: 0px; } }

.col-7 {
  width: 58.3333333333%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 60px; }
  @media only screen and (min-width: 768px) {
    .col-7 {
      width: 58.3333333333%;
      vertical-align: top; } }
  @media only screen and (max-width: 480px) {
    .col-7 {
      padding-right: 0px; } }

.col-8 {
  width: 66.6666666667%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 60px; }
  @media only screen and (min-width: 768px) {
    .col-8 {
      width: 66.6666666667%;
      vertical-align: top; } }
  @media only screen and (max-width: 480px) {
    .col-8 {
      padding-right: 0px; } }

.col-9 {
  width: 75%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 60px; }
  @media only screen and (min-width: 768px) {
    .col-9 {
      width: 75%;
      vertical-align: top; } }
  @media only screen and (max-width: 480px) {
    .col-9 {
      padding-right: 0px; } }

.col-10 {
  width: 83.3333333333%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 60px; }
  @media only screen and (min-width: 768px) {
    .col-10 {
      width: 83.3333333333%;
      vertical-align: top; } }
  @media only screen and (max-width: 480px) {
    .col-10 {
      padding-right: 0px; } }

.col-11 {
  width: 91.6666666667%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 60px; }
  @media only screen and (min-width: 768px) {
    .col-11 {
      width: 91.6666666667%;
      vertical-align: top; } }
  @media only screen and (max-width: 480px) {
    .col-11 {
      padding-right: 0px; } }

.col-12 {
  width: 100%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 60px; }
  @media only screen and (min-width: 768px) {
    .col-12 {
      width: 100%;
      vertical-align: top; } }
  @media only screen and (max-width: 480px) {
    .col-12 {
      padding-right: 0px; } }

.img-responsive {
  width: 100%;
  height: auto; }

.container {
  margin: 70px 90px 0px 150px; }
  .container .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff; }
    .container .menu ul li {
      float: left;
      height: 100%;
      float: right; }
      .container .menu ul li a {
        display: block;
        color: #111;
        text-align: center;
        padding: 14px 0px 14px 16px;
        text-decoration: none;
        text-transform: uppercase; }
        .container .menu ul li a:hover {
          background-color: #fff; }
        .container .menu ul li a img {
          width: 15px; }
      .container .menu ul li a.icon {
        float: right;
        display: block;
        position: absolute;
        right: 20px;
        top: 0;
        padding: 10px; }
      @media only screen and (min-width: 1170px) {
        .container .menu ul li:first-child {
          float: left; }
        .container .menu ul li a.icon {
          display: none; } }
      @media only screen and (max-width: 480px) {
        .container .menu ul li {
          float: none;
          border-bottom: 1px solid #bebebe; }
          .container .menu ul li:not(:first-child):not(:last-child) {
            display: none; }
          .container .menu ul li:first-child:last-child {
            border-bottom: none; } }
    .container .menu ul > :first-child a {
      font-family: 'Inconsolata', monospace;
      font-size: 2em;
      font-weight: bold;
      line-height: 15px; }
      @media only screen and (min-width: 1170px) {
        .container .menu ul > :first-child a {
          padding-left: 0px; } }
  .container .big-image {
    margin: 70px 0px 70px 0px; }
    @media only screen and (max-width: 480px) {
      .container .big-image {
        margin: 30px 0px 10px 0px; } }
  .container .content {
    padding: 0px 20px; }
    @media only screen and (max-width: 480px) {
      .container .content {
        padding: 0px 10px; } }
    .container .content .photodiary .category, .container .content .photodiary .comments {
      padding-left: 20px;
      font-family: 'Roboto', sans-serif;
      text-transform: uppercase;
      color: #959595;
      font-size: 0.9em; }
      @media only screen and (max-width: 480px) {
        .container .content .photodiary .category, .container .content .photodiary .comments {
          padding-left: 10px; } }
    .container .content .photodiary .title {
      padding-left: 20px;
      font-size: 1.6em;
      font-weight: 400; }
      @media only screen and (max-width: 480px) {
        .container .content .photodiary .title {
          padding-left: 10px; } }
    .container .content .photodiary .content {
      padding-bottom: 20px; }
      @media only screen and (max-width: 480px) {
        .container .content .photodiary .content {
          padding-right: 0px; } }
      .container .content .photodiary .content img {
        padding: 30px 0px;
        width: 100%; }
    .container .content .photodiary blockquote {
      padding-right: 80px;
      padding-bottom: 30px; }
      @media only screen and (max-width: 480px) {
        .container .content .photodiary blockquote {
          padding-right: 0px; } }
    .container .content .photodiary .share {
      text-align: right;
      padding: 30px 80px; }
      .container .content .photodiary .share i {
        padding: 5px; }
      @media only screen and (max-width: 480px) {
        .container .content .photodiary .share {
          padding: 30px 0px;
          text-align: center; } }
    .container .content .news-list {
      padding: 50px 20px; }
      @media only screen and (max-width: 480px) {
        .container .content .news-list {
          padding: 20px 10px; } }
      .container .content .news-list .news {
        margin-bottom: 80px; }
        @media only screen and (max-width: 480px) {
          .container .content .news-list .news {
            width: 100%;
            margin-bottom: 20px; } }
        .container .content .news-list .news .category {
          font-family: 'Roboto', sans-serif;
          text-transform: uppercase;
          color: #959595;
          font-size: 0.9em;
          margin: 10px 0px; }
        .container .content .news-list .news .title {
          font-size: 1.6em;
          font-weight: 400;
          margin: 10px 0px; }
  .container .sidebar .about {
    font-size: 1.6em;
    font-weight: 400; }
  .container .sidebar i {
    font-size: 1.4em;
    padding-right: 15px;
    color: #bebebe; }
  .container .sidebar .top {
    margin-top: 50px;
    font-family: Roboto;
    text-transform: uppercase;
    font-size: 1.3em;
    color: #bebebe; }
  .container .sidebar ul {
    margin-left: 25px;
    list-style: none; }
    .container .sidebar ul li::before {
      content: "\2022";
      color: #bebebe; }
  .container .loadmore {
    text-align: center;
    margin-bottom: 80px; }
    @media only screen and (max-width: 480px) {
      .container .loadmore {
        margin-bottom: 30px; } }
    .container .loadmore button {
      background-color: #fff;
      padding: 24px 36px;
      border: 1px solid #cfcccc;
      font-size: 1.3em;
      font-family: regular;
      color: #959595; }
  @media only screen and (max-width: 480px) {
    .container {
      margin: 0px; } }

.subscribe {
  text-align: center;
  background-color: #f0f0f0;
  padding: 70px; }
  .subscribe .words {
    font-size: 2em; }
  .subscribe input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #000;
    padding: 10px;
    width: 300px;
    background-color: #f0f0f0; }
    .subscribe input::-webkit-input-placeholder {
      font-family: regular;
      font-size: 16px; }
    .subscribe input
    :-ms-input-placeholder {
      font-family: regular;
      font-size: 16px; }
    .subscribe input:-moz-placeholder {
      font-family: regular;
      font-size: 16px; }
    .subscribe input::-moz-placeholder {
      font-family: regular;
      font-size: 16px; }
    @media only screen and (max-width: 480px) {
      .subscribe input {
        width: 100px; } }
  .subscribe button {
    padding: 13px;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #000;
    background: url("../images/send.png");
    height: 35px;
    width: 50px; }

.relate {
  background-color: #f0f0f0;
  padding: 40px 0px 40px 70px; }
  .relate p.title {
    padding-left: 125px;
    color: #959595;
    font-family: Roboto; }
    @media only screen and (max-width: 480px) {
      .relate p.title {
        padding: 0px;
        text-align: center; } }
  .relate .relate-news {
    padding: 0px 120px; }
    @media only screen and (max-width: 480px) {
      .relate .relate-news {
        padding: 0px 10px; } }
    .relate .relate-news .news {
      padding-left: 5px; }
      @media only screen and (max-width: 480px) {
        .relate .relate-news .news {
          width: 100%; } }
  @media only screen and (max-width: 480px) {
    .relate {
      padding: 0px; } }

.footer {
  text-align: center;
  background-color: #f0f0f0;
  padding: 40px; }
  .footer a {
    text-decoration: none;
    color: #000;
    margin-right: 20px; }
  .footer .social {
    position: relative;
    text-align: right;
    padding-right: 260px; }
    .footer .social img {
      position: absolute;
      top: -5px;
      left: 60%; }
    @media only screen and (max-width: 480px) {
      .footer .social {
        padding-right: 200px;
        width: 100%; }
        .footer .social img {
          position: absolute;
          top: -5px;
          left: 40%; } }
  @media only screen and (max-width: 480px) {
    .footer .col-6 {
      width: 100%;
      padding-bottom: 10px; } }

.block-comment {
  padding: 0px 100px 0px 40px; }
  @media only screen and (max-width: 480px) {
    .block-comment {
      padding: 0px 10px 0px 10px; } }
  .block-comment .title {
    font-family: Roboto;
    color: #959595;
    text-transform: uppercase; }
    @media only screen and (max-width: 480px) {
      .block-comment .title {
        text-align: center; } }
  .block-comment .comment {
    position: relative;
    height: 120px;
    margin-bottom: 40px;
    padding-right: 0px; }
    @media only screen and (max-width: 480px) {
      .block-comment .comment {
        height: 300px;
        margin-bottom: 0px; } }
    .block-comment .comment .title {
      font-family: Roboto;
      padding-left: 45px;
      color: #959595;
      text-transform: uppercase; }
    .block-comment .comment img.avatar {
      width: 80px;
      border-radius: 50%; }
    .block-comment .comment p.name {
      padding-left: 24px;
      font-weight: 600; }
      @media only screen and (max-width: 480px) {
        .block-comment .comment p.name {
          padding-left: 53px; } }
    @media only screen and (max-width: 480px) {
      .block-comment .comment p.content {
        padding: 0px 0px 0px 50px; } }
    .block-comment .comment p.reply {
      padding-left: 20px;
      font-family: Roboto;
      color: #959595;
      text-transform: uppercase; }
      @media only screen and (max-width: 480px) {
        .block-comment .comment p.reply {
          padding-left: 50px; } }
    .block-comment .comment input {
      position: absolute;
      padding: 30px;
      left: 100px;
      width: 800px;
      border: 1px solid #959595;
      border-radius: 5px; }
      @media only screen and (max-width: 480px) {
        .block-comment .comment input {
          width: 50%; } }

.footer .social {
  padding-right: 100px; }
  @media only screen and (max-width: 480px) {
    .footer .social {
      padding-right: 0px;
      text-align: center; } }
  .footer .social i {
    padding-left: 10px; }

/*# sourceMappingURL=sidebar.css.map */
