@import "mixins/reset";
@import "mixins/grid";
@import "mixins/navbar";
@import "mixins/mobile";

.row{
    @include row();
}
.col-1{
    @include col(1, 12, 60px, $first: true);
}
.col-2{
    @include col(2, 12, 60px, $first: true);
}
.col-3{
    @include col(3, 12, 60px, $first: true);
}
.col-4{
    @include col(4, 12, 60px, $first: true);
}
.col-5{
    @include col(5, 12, 60px, $first: true);
}
.col-6{
    @include col(6, 12, 60px, $first: true);
}
.col-7{
    @include col(7, 12, 60px, $first: true);
}
.col-8{
    @include col(8, 12, 60px, $first: true);
}
.col-9{
    @include col(9, 12, 60px, $first: true);
}
.col-10{
    @include col(10, 12, 60px, $first: true);
}
.col-11{
    @include col(11, 12, 60px, $first: true);
}
.col-12{
    @include col(12, 12, 60px, $first: true);
}
.img-responsive{
    width: 100%;
    height: auto;
}
.container{
    margin: 70px 90px 0px 150px;
    .menu{
        ul{
            @include menu-ul(#fff);
            li{
                @include menu-ul-li();
                a{
                    @include menu-ul-li-a(#111,#fff);
                    text-transform: uppercase;
                }
                a.icon{
                    float: right;
                    display: block;
                    position: absolute;
                    right: 20px;
                    top: 0;
                    padding: 10px;
                }
                float: right;
                
                @include Responsive(XL) {
                    &:first-child{
                        float: left;
                    }
                    a.icon{display: none;}
                }
                @include Responsive(XS) {
                    float: none;
                    border-bottom:1px solid #bebebe;
                    &:not(:first-child):not(:last-child){
                        display: none;
                    }
                    &:first-child:last-child{
                        border-bottom:none;
                    }
                   
                }
            }
            &>:first-child a{
                font-family: 'Inconsolata', monospace;
                font-size: 2em;
                font-weight: bold;
                line-height: 15px;
               
                @include Responsive(XL) {
                    padding-left: 0px;
                }
            }
        }
      
    }
    .big-image{
        margin: 70px 0px 70px 0px;
        @include Responsive(XS) {
            margin: 30px 0px 10px 0px;
        }
    }
    .content{
        padding: 0px 20px;
        @include Responsive(XS) {
            padding: 0px 10px;
        }
        .photodiary{
            .category, .comments{
                padding-left: 20px;
                font-family: 'Roboto', sans-serif;
                text-transform: uppercase;
                color: #959595;
                font-size: 0.9em;
                @include Responsive(XS) {
                    padding-left: 10px;
                }
            }
            .title{
                padding-left: 20px;
                font-size: 1.6em;
                font-weight: 400;
                @include Responsive(XS) {
                    padding-left: 10px;
                }
            }
            .content{
                padding-bottom: 20px;
                // padding-right: 80px;
                @include Responsive(XS) {
                    padding-right: 0px;
                }
                img{
                    padding: 30px 0px;
                    width: 100%;
                }
               
            }
            blockquote{
                @include Responsive(XS) {
                    padding-right: 0px;

                }
                padding-right: 80px;
                padding-bottom: 30px;
            }
            .share{
                text-align: right;
                padding: 30px 80px;
                i{
                    padding: 5px;
                }
                @include Responsive(XS) {
                    padding: 30px 0px;
                    text-align: center;

                }
            }
        }
        .news-list{
            padding: 50px 20px;
            @include Responsive(XS) {
                padding: 20px 10px;

            }
            .news{
                @include Responsive(XS) {
                    width: 100%;
                    margin-bottom: 20px;

                }
                margin-bottom: 80px;
                
                .category{
                    font-family: 'Roboto', sans-serif;
                    text-transform: uppercase;
                    color: #959595;
                    font-size: 0.9em;
                    margin: 10px 0px;
                }
                .title{
                    font-size: 1.6em;
                    font-weight: 400;
                    margin: 10px 0px;
                }

            }
        }
    }
    .sidebar{
        .about{
            font-size: 1.6em;
            font-weight: 400;
        }
        i{
            font-size: 1.4em;
            padding-right: 15px;
            color:#bebebe
        }
        .top{
            margin-top: 50px;
            font-family: Roboto;
            text-transform: uppercase;
            font-size: 1.3em;
            color: #bebebe;
        }
        ul{
            margin-left: 25px;
            list-style: none;
            li::before{
                content: "\2022";
                color: #bebebe;
            }
        }
    }
    .loadmore{
        text-align: center;
        margin-bottom: 80px;
        @include Responsive(XS) {
            margin-bottom: 30px;

        }
        button{
            background-color: #fff;
            padding: 24px 36px;
            border: 1px solid rgb(207, 204, 204);
            font-size: 1.3em;
            font-family: regular;
            color: #959595;
        }
    }
    @include Responsive(XS) {
		margin: 0px;
	}
}
.subscribe{
    text-align: center;
    background-color: #f0f0f0;
    padding: 70px;
    .words{
       font-size: 2em;
    }
    input{
        border-top:none;
        border-left:none;
        border-right:none;
        border-bottom: 2px solid #000;
        padding: 10px;
        width: 300px;
        background-color: #f0f0f0;
        &::-webkit-input-placeholder {
            font-family: regular;
            font-size: 16px;
        }
        &
        :-ms-input-placeholder {
            font-family: regular;
            font-size: 16px;
        }
        &:-moz-placeholder {
            font-family: regular;
            font-size: 16px;
        }
        &::-moz-placeholder {
            font-family: regular;
            font-size: 16px;
        }
        @include Responsive(XS) {
            // display: none;
            width: 100px;
        }
    }
    button{
        padding: 13px;
        background-color: #fff;
        border: none;
        border-bottom: 2px solid #000;
        background: url('../images/send.png');
        height: 35px;
        width: 50px;
    }
}
.relate{
    background-color: #f0f0f0;
    padding: 40px 0px 40px 70px ;
    p.title{
        padding-left: 125px;
        color: #959595;
        font-family: Roboto;
        @include Responsive(XS) {
            padding: 0px;
            text-align: center;

        }
    }
    .relate-news{
        padding: 0px 120px;
        @include Responsive(XS) {
            padding: 0px 10px;
            
        }
        .news{
            padding-left: 5px;
            @include Responsive(XS) {
                width: 100%;
            }
        }
       
    }
    @include Responsive(XS) {
        padding: 0px ;

    }
  
}
.footer{
    text-align: center;
    background-color: #f0f0f0;
    padding: 40px;
    a{
        text-decoration: none;
        color: #000;
        margin-right: 20px;
    }
    .social{
        position: relative;
        text-align: right;
        padding-right: 260px;
        img{
            position: absolute;
            top: -5px;
            left: 60%;
        }
        @include Responsive(XS) {
            padding-right: 200px;
            width: 100%;
            img{
                position: absolute;
                top: -5px;
                left: 40%;
            }
        }
    }
    .col-6{
        @include Responsive(XS) {
            width: 100%;
            padding-bottom: 10px;
        }
    }
}
.block-comment{
    padding: 0px 100px 0px 40px;
    @include Responsive(XS) {
        padding: 0px 10px 0px 10px;

    }
    .title{
        font-family: Roboto;
        color: #959595;
        text-transform: uppercase;  
        @include Responsive(XS) {
            text-align: center;
        }
    }
    .comment{
        position: relative;
        height: 120px;
        margin-bottom: 40px;
        padding-right: 0px;
        @include Responsive(XS) {
            height: 300px;
            margin-bottom: 0px;

        }
        .title{
            font-family: Roboto;
            padding-left: 45px;
            color: #959595;
            text-transform: uppercase;
        }
        img.avatar{
            width: 80px;
            border-radius: 50%;
            
        }
        // span{
        //     &_name{

        //     }
        // }
        p.name{
            // vertical-align: top;
            // position: absolute;
            // top: 3px;
            // left: 102px;
            // font-weight: 600;
            padding-left: 24px;
            font-weight: 600;
            @include Responsive(XS) {
                padding-left: 53px;

            }
        }
    
        p.content{
            // display: inline-block;
            // vertical-align: middle;
            // position: absolute;
            // top: 25px;
            // left: 80px;
            @include Responsive(XS) {
                padding: 0px 0px 0px 50px;
            }
        }
        p.reply{
            // display: inline-block;
            // // vertical-align: middle;
            // position: absolute;
            // top: 100px;
            // left: 100px;
            padding-left: 20px;
            font-family: Roboto;
            color: #959595;
            text-transform: uppercase;  
            @include Responsive(XS) {
                padding-left:50px;

            }
        }
        input{
            position: absolute;
            padding: 30px;
            left: 100px;
            width: 800px;
            border: 1px solid #959595;
            border-radius: 5px;
            @include Responsive(XS) {
                width: 50%;
            }
        } 
    }
}
.footer{
    .social{
        padding-right: 100px;

        @include Responsive(XS) {
            padding-right: 0px;
            text-align: center;
        }
        i{
            padding-left: 10px;
        }
    }
}