.ads-wrapper .content .lists .article {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px; }

.ads-wrapper {
  max-width: 300px;
  max-height: 600px;
  font-family: Arial;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px; }
  .ads-wrapper .header {
    position: relative;
    background: #8a0304;
    line-height: 40px; }
    .ads-wrapper .header__title {
      text-transform: uppercase;
      font-size: 14px;
      color: #fff;
      margin: 0 10px; }
    .ads-wrapper .header__icon-link {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      display: block;
      background: url("image/adxlogo-2.png") no-repeat top right;
      width: 35px;
      height: 20px;
      text-decoration: none; }
      .ads-wrapper .header__icon-link:hover {
        width: 109px;
        background: url("image/adxlogo-2-hover.png") no-repeat top right;
        padding-left: 10px; }
        .ads-wrapper .header__icon-link:hover .txtlogo {
          display: block;
          box-sizing: content-box;
          display: block;
          font: 11px tahoma,arial;
          color: #9b9b9b;
          line-height: 17px;
          margin-left: 15px; }
      .ads-wrapper .header__icon-link .txtlogo {
        display: none; }
  .ads-wrapper .content .lists {
    padding: 0px;
    margin: 0;
    display: flex;
    flex-direction: column; }
    .ads-wrapper .content .lists .article {
      display: flex; }
      .ads-wrapper .content .lists .article__img {
        width: 60px;
        height: 60px;
        margin-right: 10px; }
      .ads-wrapper .content .lists .article__content {
        margin: 5px 0; }
        .ads-wrapper .content .lists .article__content a {
          color: #554e4e;
          font-size: 13px;
          line-height: 17px;
          text-decoration: none; }
  .ads-wrapper .footer {
    line-height: 50px; }
    .ads-wrapper .footer__author {
      color: #989898;
      font-size: 13px;
      margin-left: 10px; }
      .ads-wrapper .footer__author--links {
        color: #8a0304;
        text-decoration: none;
        font-weight: bold; }

/*# sourceMappingURL=ads-300x600.css.map */
