ul.list {
  list-style: none; }
  ul.list li.item {
    padding: 10px 10px;
    width: 100px;
    margin: 10px;
    background-color: #959595;
    text-align: center;
    cursor: move; }
    ul.list li.item .over {
      border: 2px dashed #000; }

/*# sourceMappingURL=style.css.map */
