html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
  font: 100% Helvetica, sans-serif; }

.row {
  font-size: 0; }

.col-1 {
  width: 8.3333333333%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-1 {
      width: 8.3333333333%;
      vertical-align: top; } }

.col-2 {
  width: 16.6666666667%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-2 {
      width: 16.6666666667%;
      vertical-align: top; } }

.col-3 {
  width: 25%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-3 {
      width: 25%;
      vertical-align: top; } }

.col-4 {
  width: 33.3333333333%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-4 {
      width: 33.3333333333%;
      vertical-align: top; } }

.col-5 {
  width: 41.6666666667%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-5 {
      width: 41.6666666667%;
      vertical-align: top; } }

.col-6 {
  width: 50%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-6 {
      width: 50%;
      vertical-align: top; } }

.col-7 {
  width: 58.3333333333%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-7 {
      width: 58.3333333333%;
      vertical-align: top; } }

.col-8 {
  width: 66.6666666667%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-8 {
      width: 66.6666666667%;
      vertical-align: top; } }

.col-9 {
  width: 75%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-9 {
      width: 75%;
      vertical-align: top; } }

.col-10 {
  width: 83.3333333333%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-10 {
      width: 83.3333333333%;
      vertical-align: top; } }

.col-11 {
  width: 91.6666666667%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-11 {
      width: 91.6666666667%;
      vertical-align: top; } }

.col-12 {
  width: 100%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-12 {
      width: 100%;
      vertical-align: top; } }

.img-responsive {
  max-width: 100%;
  height: auto; }

.text-bold {
  font-weight: bold; }

.text-muted {
  color: #959595; }

.video {
  padding-right: 0px; }

/* width */
::-webkit-scrollbar {
  width: 5px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

.playlist {
  margin-top: 20px; }
  .playlist .list-video .mutex {
    background-color: #959595;
    padding: 10px; }
    .playlist .list-video .mutex .text {
      font-weight: bold;
      text-transform: capitalize;
      padding-left: 30px;
      font-size: 1.3em; }
    .playlist .list-video .mutex .sprite {
      position: relative; }
    .playlist .list-video .mutex .icon-play {
      position: absolute;
      display: block;
      width: 30px;
      height: 30px;
      top: 30px;
      background: url("https://kenh14cdn.com/web_images/sprite-k14.20.png") -515px 0px no-repeat; }
  .playlist .list-video .list-video {
    height: 290px;
    overflow-y: scroll; }
    .playlist .list-video .list-video ul {
      list-style: none; }
      .playlist .list-video .list-video ul li {
        opacity: .6;
        padding: 10px;
        font-size: 0.5em;
        border-bottom: 1px solid #cccccc; }
        .playlist .list-video .list-video ul li:hover {
          background-color: #f1f1f1;
          opacity: 1; }
        .playlist .list-video .list-video ul li img {
          border-radius: 5%; }
        .playlist .list-video .list-video ul li .title {
          margin: 0px;
          font-weight: bold;
          font-size: 0.9em; }
        .playlist .list-video .list-video ul li .info {
          margin: 0px;
          font-size: 0.9em;
          color: #959595; }

/*# sourceMappingURL=style.css.map */
