@import "../../mixins/reset";
@import "../../mixins/grid";
.row{
    @include row();
}
.col-1{
    @include col(1, 12, 15px, $first: true);
}
.col-2{
    @include col(2, 12, 15px, $first: true);
}
.col-3{
    @include col(3, 12, 15px, $first: true);
}
.col-4{
    @include col(4, 12, 15px, $first: true);
}
.col-5{
    @include col(5, 12, 15px, $first: true);
}
.col-6{
    @include col(6, 12, 15px, $first: true);
}
.col-7{
    @include col(7, 12, 15px, $first: true);
}
.col-8{
    @include col(8, 12, 15px, $first: true);
}
.col-9{
    @include col(9, 12, 15px, $first: true);
}
.col-10{
    @include col(10, 12, 15px, $first: true);
}
.col-11{
    @include col(11, 12, 15px, $first: true);
}
.col-12{
    @include col(12, 12, 15px, $first: true);
}
.img-responsive{
    max-width: 100%;
    height: auto;
}
.text-bold{
    font-weight: bold;
}
.text-muted{
    color: #959595;
}
.video{
    padding-right: 0px;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.playlist{
    margin-top: 20px;
    .list-video{
        .mutex{
            background-color: #959595;
            padding: 10px;
            .text{
                font-weight: bold;
                text-transform: capitalize;
                padding-left: 30px;
                font-size: 1.3em;
            }
            .sprite{
                position: relative;
            }
            .icon-play{
                position: absolute;
                display: block;
                width: 30px;
                height: 30px;
                top: 30px;
                background: url("https://kenh14cdn.com/web_images/sprite-k14.20.png") -515px 0px no-repeat;
            }
        }
        .list-video{
            height: 290px;
            overflow-y: scroll;
            ul{
                list-style: none;
                li{
                    &:hover{
                        background-color: #f1f1f1;
                        opacity: 1;
                    }
                    opacity: .6;
                    padding: 10px;
                    font-size: 0.5em;
                    border-bottom: 1px solid #cccccc;
                    img{
                        border-radius: 5%;
                    }
                    .title{
                        margin: 0px;
                        font-weight: bold;
                        font-size: 0.9em;
                    }
                    .info{
                        margin: 0px;
                        font-size: 0.9em;
                        color: #959595;
                    }
                }
            }
        }
    }
}