@import "../../mixins/reset";
@import "../../mixins/master";

$font-stack:    Helvetica, sans-serif;
.container{
    font: 100% $font-stack;
    .topic{
        img{
            max-width: 100%;
            height: auto;
        }
    }
  
    .menu{
        ul{
            @include menu-ul(#a51220);
            background: url("https://cdnweb.dantri.com.vn/images/menu-bg2.png");
            background-repeat: repeat-x;
            border-top: 3px solid #3064BC;
            li{
                @include menu-ul-li();
                border-left: 1px solid #cdd6e0;
                a{
                    @include menu-ul-li-a(#fff,#5F86C1);
                    padding: 4px 10px;
                    &:hover{
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        
                    }
                }
            }
        }
    }
}