html,body,ul,ol{margin:0;padding:0;font:100% Helvetica,sans-serif}.container{font:100% Helvetica,sans-serif}.container .topic img{max-width:100%;height:auto}.container .menu ul{list-style-type:none;margin:0;padding:0;overflow:hidden;background-color:#a51220;background:url("https://cdnweb.dantri.com.vn/images/menu-bg2.png");background-repeat:repeat-x;border-top:3px solid #3064BC}.container .menu ul li{float:left;height:100%;border-left:1px solid #cdd6e0}.container .menu ul li:first-child{padding-left:160px}.container .menu ul li a{display:block;color:#fff;text-align:center;padding:14px 16px;text-decoration:none;padding:4px 10px}.container .menu ul li a:hover{background-color:#5F86C1}.container .menu ul li a img{width:15px}.container .menu ul li a:hover{border-top-left-radius:5px;border-top-right-radius:5px}
/*# sourceMappingURL=style.css.map */
