html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
  font: 100% Helvetica, sans-serif; }

.row {
  font-size: 0; }

.col-1 {
  width: 8.3333333333%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-1 {
      width: 8.3333333333%;
      vertical-align: top; } }

.col-2 {
  width: 16.6666666667%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-2 {
      width: 16.6666666667%;
      vertical-align: top; } }

.col-3 {
  width: 25%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-3 {
      width: 25%;
      vertical-align: top; } }

.col-4 {
  width: 33.3333333333%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-4 {
      width: 33.3333333333%;
      vertical-align: top; } }

.col-5 {
  width: 41.6666666667%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-5 {
      width: 41.6666666667%;
      vertical-align: top; } }

.col-6 {
  width: 50%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-6 {
      width: 50%;
      vertical-align: top; } }

.col-7 {
  width: 58.3333333333%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-7 {
      width: 58.3333333333%;
      vertical-align: top; } }

.col-8 {
  width: 66.6666666667%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-8 {
      width: 66.6666666667%;
      vertical-align: top; } }

.col-9 {
  width: 75%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-9 {
      width: 75%;
      vertical-align: top; } }

.col-10 {
  width: 83.3333333333%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-10 {
      width: 83.3333333333%;
      vertical-align: top; } }

.col-11 {
  width: 91.6666666667%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-11 {
      width: 91.6666666667%;
      vertical-align: top; } }

.col-12 {
  width: 100%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-12 {
      width: 100%;
      vertical-align: top; } }

.img-responsive {
  max-width: 100%;
  height: auto; }

.text-bold {
  font-weight: bold; }

.text-muted {
  padding-top: 10px;
  color: #959595; }

.wrap {
  margin-top: 15px; }
  .wrap .content {
    height: 145px;
    overflow: hidden;
    position: relative;
    border: 1px solid #ebebeb; }
    .wrap .content ul.news-list {
      height: 10000px;
      transition-duration: 1000ms; }
      .wrap .content ul.news-list li.news .title {
        margin: 10px 10px 20px 0px;
        font-size: 1.2em;
        font-weight: bold; }
    .wrap .content .controlbox {
      width: 35px;
      height: 145px;
      border-left: 1px solid #ebebeb;
      position: absolute;
      top: 0px;
      right: 0px; }
      .wrap .content .controlbox .icon {
        background-color: #f9f9f9;
        width: 100%;
        height: 35px;
        border: 1px solid #ebebeb; }
        .wrap .content .controlbox .icon img {
          padding: 8px 3px 8px 4px; }
      .wrap .content .controlbox .count {
        height: 71px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center; }

/*# sourceMappingURL=style.css.map */
