@import "../../mixins/reset";
@import "../../mixins/grid";
.row{
    @include row();
}
.col-1{
    @include col(1, 12, 15px, $first: true);
}
.col-2{
    @include col(2, 12, 15px, $first: true);
}
.col-3{
    @include col(3, 12, 15px, $first: true);
}
.col-4{
    @include col(4, 12, 15px, $first: true);
}
.col-5{
    @include col(5, 12, 15px, $first: true);
}
.col-6{
    @include col(6, 12, 15px, $first: true);
}
.col-7{
    @include col(7, 12, 15px, $first: true);
}
.col-8{
    @include col(8, 12, 15px, $first: true);
}
.col-9{
    @include col(9, 12, 15px, $first: true);
}
.col-10{
    @include col(10, 12, 15px, $first: true);
}
.col-11{
    @include col(11, 12, 15px, $first: true);
}
.col-12{
    @include col(12, 12, 15px, $first: true);
}
.img-responsive{
    max-width: 100%;
    height: auto;
}
.text-bold{
    font-weight: bold;
}
.text-muted{
    padding-top: 10px;
    color: #959595;
}
.wrap{
    margin-top: 15px;
    .content{
        height: 145px;
        overflow: hidden;
        position: relative;
        border: 1px solid #ebebeb;
        ul.news-list{
            height: 10000px;
            transition-duration: 1000ms;
            li.news{
                .title{
                    margin: 10px 10px 20px 0px;
                    font-size: 1.2em;
                    font-weight: bold;
                }
            } //end li.news
        } //end ul.new-list
        .controlbox{
            width: 35px;
            height: 145px;
            border-left: 1px solid #ebebeb;
            position: absolute;
            top: 0px;
            right: 0px;
            .icon{
                background-color: #f9f9f9;
                width: 100%;
                height: 35px;
                border: 1px solid #ebebeb;
                img{
                    padding: 8px 3px 8px 4px;
                }
            }
           
            .count{
                height: 71px;
                display: -webkit-box; 
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex; 
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    } //end content
} //end wrap
