@import "../../mixins/reset";
@import "../../mixins/grid";
.row{
    @include row();
}
.col-1{
    @include col(1, 12, 15px, $first: true);
}
.col-2{
    @include col(2, 12, 15px, $first: true);
}
.col-3{
    @include col(3, 12, 15px, $first: true);
}
.col-4{
    @include col(4, 12, 15px, $first: true);
}
.col-5{
    @include col(5, 12, 15px, $first: true);
}
.col-6{
    @include col(6, 12, 15px, $first: true);
}
.col-7{
    @include col(7, 12, 15px, $first: true);
}
.col-8{
    @include col(8, 12, 15px, $first: true);
}
.col-9{
    @include col(9, 12, 15px, $first: true);
}
.col-10{
    @include col(10, 12, 15px, $first: true);
}
.col-11{
    @include col(11, 12, 15px, $first: true);
}
.col-12{
    @include col(12, 12, 15px, $first: true);
}
.img-responsive{
    max-width: 100%;
    height: auto;
}
.text-bold{
    font-weight: bold;
}
.text-muted{
    color: #959595;
}
.wrap{
    margin-top: 10px;
    background: #f5f5f5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    padding: 0px 0px 20px 20px;
    position: relative;
    .title{
        position: relative;
        padding-left: 40px;
        text-transform: uppercase;
        .sprite{
            background: url("https://kenh14cdn.com/web_images/sprite-k14.20.png");
            background-repeat: no-repeat;
        }
        .icon{
            background-position: -213px 0;
            width: 33px;
            height: 22px;
            position: absolute;
            top: 0px;
            left: 3px;
            display: block;
        }
    }
    .content{
        width: 100%;
        overflow: hidden;
        padding: 0px 0px;
        
        ul.news-list{
            list-style: none;
            width: 10000px;
            min-height: 222px;
            transition-duration: 1000ms;
            li.news{
                float: left;
                position: relative;
                width: 230px;
                height: 165px;
                margin-right: 15px;
                .xyz{
                    position: absolute;
                    background: rgba(0,0,0,0.8);
                    width: 100%;
                    padding: 5px 0px;
                    color: #fff;
                    bottom: 10px;
                    p.overlay{
                        position: relative;
                        padding-left: 40px;
                        line-height: 25px;
                        margin: 0px;
                        .sprite{
                            background: url("https://kenh14cdn.com/web_images/sprite-k14.20.png");
                            background-repeat: no-repeat;
                        }
                        .icon-eye{
                            background-position: -243px -145px;
                            width: 27px;
                            height: 30px;
                            position: absolute;
                            top: 0px;
                            left: 10px;
                            display: block;
                        }
                    } 
                }
            }
            .description{
                padding: 7px 7px 27px 7px;
                background-color: #fff;
                font-weight: bold;
                font-size: 0.9em;
            }
        }
        .pagination{
            position: relative;
            margin-top: 30px;
            text-align: center;
            .bullet{
                width: 8px;
                height: 8px;
                display: inline-block;
                border-radius: 100%;
                background: #000;
                opacity: .2;
                margin: 0px 3px;
            }
            .active{
                background-color: rgba(251,108,39,.9);
                opacity: 1;
            }
        }
        
    }
    .button-prev{
        background: url("https://kenh14cdn.com/web_images/sprite-k14.20.png") -70px -137px no-repeat;
        background-color: rgba(0,0,0,0.5);
        left: 0;
        position: absolute;
        top: 75px;
        width: 35px;
        height: 95px;
        z-index: 10;
        cursor: pointer;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        &:hover{
            background-color: rgba(251,108,39,.9);
        }
    }
    .button-next{
        background: url("https://kenh14cdn.com/web_images/sprite-k14.20.png") -115px -137px no-repeat;
        background-color: rgba(0,0,0,0.5);
        right: 0;
        position: absolute;
        top: 75px;
        width: 35px;
        height: 95px;
        z-index: 10;
        cursor: pointer;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        &:hover{
            background-color: rgba(251,108,39,.9);
        }
    }
}
