html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
  font: 100% Helvetica, sans-serif; }

.img-responsive {
  max-width: 100%;
  height: auto; }

.text-bold {
  font-weight: bold; }

.text-muted {
  color: #959595;
  font-size: 0.9em; }

h3.news {
  display: inline-block;
  border-left: 5px solid #f96c34;
  padding-left: 10px;
  line-height: 25px;
  text-transform: uppercase; }

.small-news-title {
  font-size: 0.8em; }

.row {
  font-size: 0; }

.col-1 {
  width: 8.3333333333%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-1 {
      width: 8.3333333333%;
      vertical-align: top; } }

.col-2 {
  width: 16.6666666667%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-2 {
      width: 16.6666666667%;
      vertical-align: top; } }

.col-3 {
  width: 25%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-3 {
      width: 25%;
      vertical-align: top; } }

.col-4 {
  width: 33.3333333333%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-4 {
      width: 33.3333333333%;
      vertical-align: top; } }

.col-5 {
  width: 41.6666666667%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-5 {
      width: 41.6666666667%;
      vertical-align: top; } }

.col-6 {
  width: 50%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-6 {
      width: 50%;
      vertical-align: top; } }

.col-7 {
  width: 58.3333333333%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-7 {
      width: 58.3333333333%;
      vertical-align: top; } }

.col-8 {
  width: 66.6666666667%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-8 {
      width: 66.6666666667%;
      vertical-align: top; } }

.col-9 {
  width: 75%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-9 {
      width: 75%;
      vertical-align: top; } }

.col-10 {
  width: 83.3333333333%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-10 {
      width: 83.3333333333%;
      vertical-align: top; } }

.col-11 {
  width: 91.6666666667%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-11 {
      width: 91.6666666667%;
      vertical-align: top; } }

.col-12 {
  width: 100%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-12 {
      width: 100%;
      vertical-align: top; } }

/*# sourceMappingURL=style.css.map */
