@import "../../mixins/reset";
@import "../../mixins/grid";
.row{
    @include row();
}
.col-1{
    @include col(1, 12, 15px, $first: true);
}
.col-2{
    @include col(2, 12, 15px, $first: true);
}
.col-3{
    @include col(3, 12, 15px, $first: true);
}
.col-4{
    @include col(4, 12, 15px, $first: true);
}
.col-5{
    @include col(5, 12, 15px, $first: true);
}
.col-6{
    @include col(6, 12, 15px, $first: true);
}
.col-7{
    @include col(7, 12, 15px, $first: true);
}
.col-8{
    @include col(8, 12, 15px, $first: true);
}
.col-9{
    @include col(9, 12, 15px, $first: true);
}
.col-10{
    @include col(10, 12, 15px, $first: true);
}
.col-11{
    @include col(11, 12, 15px, $first: true);
}
.col-12{
    @include col(12, 12, 15px, $first: true);
}
.img-responsive{
    max-width: 100%;
    height: auto;
}
.text-bold{
    font-weight: bold;
}
.text-muted{
    color: #959595;
}
/* width */

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.step9{
    .abc{
        margin-top: 10px;
        .sprite{
            position: relative;
            width: 22px;
            height: 22px;
            background: url("https://kenh14cdn.com/web_images/sprite-k14.20.png") -329px -209px no-repeat;
        }
        .clock{
            position: absolute;
            display: block;
        }
        .title{
            margin-left: 30px;
            line-height: 25px;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.3em;
        }
        button{
            margin: 2px 2px;
            float:right;
            background-color: #959595; 
            border:1px;
            border-radius: 3px;
            color: white;
            text-align: center;
            padding: 5px 15px;
        }
    }
    .content{
        margin-top: 10px;
        padding: 10px;
        height: 436px;
        overflow-y: scroll;
        background: #fff9f2;
        position: relative;
        border: 1px solid #ddcebc;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        ul{
            height: auto;
            li{
                border-bottom: 1px dotted #959595;
                padding: 10px 0px;
                .time{
                    color:  rgba(251,108,39,.9);
                    padding: 5px;
                    line-height: 45px;
                    text-align: center;
                }
                .title{
                    border-left: 1px dotted #959595;
                    padding: 5px;
                    font-weight: bold;
                }
            }
        }
    }
}