@import "../../mixins/reset";
@import "../../mixins/grid";

.img-responsive{
    max-width: 100%;
    height: auto;
}
.text-bold{
    font-weight: bold;
    font-size: 0.9em;
}
.text-muted{
    color: #959595;
    font-size: 0.9em;
}
h3.news{
    display: inline-block;
    border-left: 5px solid #f96c34;
    padding-left: 10px;
    line-height: 25px;
    text-transform: uppercase;
}
select{
    padding: 3px;
    border-radius: 3px;
}
button.browse{
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
    border-radius: 3px;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.row{
    @include row();
}
.col-1{
    @include col(1, 12, 15px, $first: true);
}
.col-2{
    @include col(2, 12, 15px, $first: true);
}
.col-3{
    @include col(3, 12, 15px, $first: true);
}
.col-4{
    @include col(4, 12, 15px, $first: true);
}
.col-5{
    @include col(5, 12, 15px, $first: true);
}
.col-6{
    @include col(6, 12, 15px, $first: true);
}
.col-7{
    @include col(7, 12, 15px, $first: true);
}
.col-8{
    @include col(8, 12, 15px, $first: true);
}
.col-9{
    @include col(9, 12, 15px, $first: true);
}
.col-10{
    @include col(10, 12, 15px, $first: true);
}
.col-11{
    @include col(11, 12, 15px, $first: true);
}
.col-12{
    @include col(12, 12, 15px, $first: true);
}
