.container {
  font-family: 'Roboto';
  font-size: 11px;
  width: 665px;
  margin: 0px auto; }
  .container .row .header {
    margin-top: 20px;
    margin-bottom: 30px; }
    .container .row .header__logo {
      float: left;
      width: 100px; }
    .container .row .header__invoice {
      display: inline-block;
      font-weight: 600;
      font-size: 1.6em;
      padding: 6px 0px 0px 10px;
      margin: 0px; }
    .container .row .header__invoiceNumber {
      float: right;
      padding-top: 5px; }
  .container .row .info {
    font-weight: 600;
    margin-bottom: 15px; }
    .container .row .info p {
      margin: 7px 0px; }
  .container .row .detail__table {
    width: 100%;
    margin-bottom: 0px; }
    .container .row .detail__table td {
      border-top: 1px solid #e0e0e0;
      border-collapse: collapse;
      padding-top: 5px;
      padding-bottom: 5px; }
    .container .row .detail__table tr td:first-child {
      padding-left: 0px; }
    .container .row .detail__table tr td:nth-child(2), .container .row .detail__table tr td:nth-child(4) {
      text-align: right; }
    .container .row .detail__table tr td:nth-child(2) {
      padding-right: 20px; }
    .container .row .detail__table tr:first-child {
      font-weight: 600; }
  .container .row .result {
    float: right; }
    .container .row .result__table .border {
      border-top: 2px solid #e0e0e0;
      padding-top: 10px; }
    .container .row .result__table tr th {
      padding-bottom: 10px; }
    .container .row .result .font-normal {
      font-weight: normal;
      padding-left: 0px; }
    .container .row .result .text-right {
      text-align: right; }
    .container .row .result .text-left {
      text-align: left; }
    .container .row .result .total {
      font-weight: bold;
      font-size: 1.6em; }

.text-muted {
  color: #908182; }

@media print {
  .text-muted {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 0 #908182; } }
@media print and (-webkit-min-device-pixel-ratio: 0) {
  .text-muted {
    color: #908182;
    -webkit-print-color-adjust: exact; } }

/*# sourceMappingURL=style.css.map */
