.container{
    font-family: 'Roboto';
    font-size: 11px;
    width: 665px;
    margin: 0px auto;
    .row{
        .header{
            margin-top: 20px;
            margin-bottom: 30px;
            &__logo{
                float: left;
                width: 100px;
            }
            &__invoice{
                display: inline-block;
                font-weight: 600;
                font-size: 1.6em;
                padding: 6px 0px 0px 10px;
                margin: 0px;
            }
            &__invoiceNumber{
                float: right;
                padding-top: 5px;
            }
        }
        .info{
            font-weight: 600;
            margin-bottom: 15px;
            p{
                margin: 7px 0px;
            }
        }
        .detail{
            &__table{
                width: 100%;
                td{
                    border-top: 1px solid #e0e0e0;
                    border-collapse: collapse;
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
                margin-bottom: 0px;
                tr td:first-child{
                    padding-left: 0px;
                }
                tr td:nth-child(2), tr td:nth-child(4){
                    text-align: right;
                    
                }
                tr td:nth-child(2){
                    padding-right: 20px;
                }
                tr:first-child{
                    font-weight: 600;
                }
            }
            
        }
        .result{
            float: right;
            &__table{
                .border{
                    border-top: 2px solid #e0e0e0;
                    padding-top: 10px;
                }
                tr th{
                    padding-bottom: 10px;
                }
            }

            .font-normal{
                font-weight: normal;
                padding-left: 0px;
            }
            .text-right{
                text-align: right;
            }
            .text-left{
                text-align: left;
            }
            .total{
                font-weight: bold;
                font-size: 1.6em;
            }
        }
    }
}
.text-muted{
    color: #908182;
}
@media print {
    .text-muted {
      color: rgba(0, 0, 0, 0);
      text-shadow: 0 0 0 #908182;
    }

    @media print and (-webkit-min-device-pixel-ratio:0) {
        .text-muted {
        color: #908182;
        -webkit-print-color-adjust: exact;
      }
    }
 }