html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
  font: 100% Helvetica, sans-serif; }

.row {
  font-size: 0; }

.col-1 {
  width: 8.3333333333%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-1 {
      width: 8.3333333333%;
      vertical-align: top; } }

.col-2 {
  width: 16.6666666667%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-2 {
      width: 16.6666666667%;
      vertical-align: top; } }

.col-3 {
  width: 25%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-3 {
      width: 25%;
      vertical-align: top; } }

.col-4 {
  width: 33.3333333333%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-4 {
      width: 33.3333333333%;
      vertical-align: top; } }

.col-5 {
  width: 41.6666666667%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-5 {
      width: 41.6666666667%;
      vertical-align: top; } }

.col-6 {
  width: 50%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-6 {
      width: 50%;
      vertical-align: top; } }

.col-7 {
  width: 58.3333333333%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-7 {
      width: 58.3333333333%;
      vertical-align: top; } }

.col-8 {
  width: 66.6666666667%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-8 {
      width: 66.6666666667%;
      vertical-align: top; } }

.col-9 {
  width: 75%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-9 {
      width: 75%;
      vertical-align: top; } }

.col-10 {
  width: 83.3333333333%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-10 {
      width: 83.3333333333%;
      vertical-align: top; } }

.col-11 {
  width: 91.6666666667%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-11 {
      width: 91.6666666667%;
      vertical-align: top; } }

.col-12 {
  width: 100%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .col-12 {
      width: 100%;
      vertical-align: top; } }

.img-responsive {
  max-width: 100%;
  height: auto; }

.text-bold {
  font-weight: bold; }

.text-muted {
  color: #959595; }

.wrap {
  border-top: 3px solid #de2e32;
  margin-top: 10px;
  background: #000000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0px 0px 20px 20px;
  position: relative; }
  .wrap .title {
    color: #fff;
    position: relative;
    padding-left: 40px;
    text-transform: uppercase; }
    .wrap .title .sprite {
      background: url("https://kenh14cdn.com/web_images/sprite-k14.20.png");
      background-repeat: no-repeat; }
    .wrap .title .icon {
      background-position: -213px 0;
      width: 33px;
      height: 22px;
      position: absolute;
      top: 0px;
      left: 3px;
      display: block; }
  .wrap .content {
    width: 100%;
    overflow: hidden;
    padding: 0px 0px; }
    .wrap .content ul.news-list {
      list-style: none;
      width: 10000px;
      min-height: 222px;
      transition-duration: 1000ms; }
      .wrap .content ul.news-list li.news {
        float: left;
        position: relative;
        width: 200px;
        height: auto;
        margin-right: 15px;
        border-radius: 25%; }
        .wrap .content ul.news-list li.news .xyz {
          position: absolute;
          background: rgba(0, 0, 0, 0.8);
          width: 100%;
          padding: 5px 0px;
          color: #fff;
          bottom: 10px; }
          .wrap .content ul.news-list li.news .xyz p.overlay {
            position: relative;
            padding-left: 40px;
            line-height: 25px;
            margin: 0px; }
            .wrap .content ul.news-list li.news .xyz p.overlay .sprite {
              background: url("https://kenh14cdn.com/web_images/sprite-k14.20.png");
              background-repeat: no-repeat; }
            .wrap .content ul.news-list li.news .xyz p.overlay .icon-eye {
              background-position: -243px -145px;
              width: 27px;
              height: 30px;
              position: absolute;
              top: 0px;
              left: 10px;
              display: block; }
      .wrap .content ul.news-list .description {
        padding: 7px 7px 27px 7px;
        background-color: #fff;
        font-weight: bold;
        font-size: 0.9em; }
    .wrap .content .pagination {
      position: absolute;
      top: 20px;
      right: 10px;
      text-align: center;
      z-index: 999; }
      .wrap .content .pagination .bullet {
        width: 8px;
        height: 8px;
        display: inline-block;
        border-radius: 100%;
        background: #404040;
        opacity: .2;
        margin: 0px 3px; }
      .wrap .content .pagination .active {
        background-color: #de2e32;
        opacity: 1; }
  .wrap .button-prev {
    background: url("https://kenh14cdn.com/web_images/sprite-k14.20.png") -70px -137px no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    position: absolute;
    top: 120px;
    width: 35px;
    height: 95px;
    z-index: 10;
    cursor: pointer;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }
    .wrap .button-prev:hover {
      background-color: #de2e32; }
  .wrap .button-next {
    background: url("https://kenh14cdn.com/web_images/sprite-k14.20.png") -115px -137px no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    right: 0;
    position: absolute;
    top: 120px;
    width: 35px;
    height: 95px;
    z-index: 10;
    cursor: pointer;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
    .wrap .button-next:hover {
      background-color: #de2e32; }

/*# sourceMappingURL=style.css.map */
