
$box-width: 700px;
$box-height: auto;
$font-family: arial;

.gallery-sort {
	max-width: $box-width;
	max-height: $box-height;
	font-family: $font-family;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	// image sort
	&__lists {
		display: flex;
		flex-wrap: wrap;
		margin:0;
		padding:0;
		li {
			list-style: none;
			cursor: pointer;
			transition: .3s;
			&:hover {
				opacity: .7;
			}
		}
	}
	&__img {
		&--first-row {
			margin-bottom: 20px;
			width: 220px;
			height: 141px;
		}
	}

	// description
	&__desc {
		background: #f2f2f2;
		p {
			color: #666;
			padding-left: 20px;
		}
	}

	// the modal
	&__modal {
		display: none;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background: rgba(0,0,0,0.9);
		padding-top: 100px;

		&--close {
			color: #f1f1f1;
			position: absolute;
			top: 15px;
			right: 35px;
			font-size: 50px;
			&:hover {
				color: #bbb;
				cursor: pointer;
			}
		}
		&--content {
			width: 50%;
			display: block;
			margin: auto;
		}
		&--caption {
			width: 50%;
			margin: auto;
			color: #f1f1f1;
			line-height: 50px;
			text-align: center;
		}

		&--caption, &--content {
			animation-name: zoom;
			animation-duration: 0.6s;
			-webkit-animation-name: zoom;
  			-webkit-animation-duration: 0.6s;
		}
	}
}

.margin-left-20 {
	margin-left: 20px;
}

.margin-left-right-20 {
	margin-left: 20px;
	margin-right: 20px;
}

// animation modal
@keyframes zoom {
	from {transform:scale(0)} 
  	to {transform:scale(1)}
}
@-webkit-keyframes zoom {
	from {-webkit-transform:scale(0)} 
  	to {-webkit-transform:scale(1)}
}

