@import "../../mixins/reset";
@import "../../mixins/master";

$font-stack:    Helvetica, sans-serif;
.container{
    font: 100% $font-stack;
    .topic{
        img{
            max-width: 100%;
            height: auto;
        }
    }
    // .menu{
    //     ul{
    //         list-style-type: none;
    //         margin: 0;
    //         padding: 0;
    //         overflow: hidden;
    //         background-color: #333;
    //         li{
    //             float: left;
    //             height: 100%;
    //             a{
    //                 display: block;
    //                 color: white;
    //                 text-align: center;
    //                 padding: 14px 16px;
    //                 text-decoration: none;
    //                 &:hover{
    //                     background-color: #111;
    //                 }
    //                 img{
    //                     width: 15px;
    //                 }
    //             }
    //             &:first-child{
    //                 padding-left: 160px
    //             }
    //         }
    //     }
    // }
    .menu{
        ul{
            @include menu-ul(#333);
            li{
                @include menu-ul-li();
                a{
                    @include menu-ul-li-a(#fff,#111);
                }
            }
        }
    }
}