html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
  font: 100% Helvetica, sans-serif;
}

.container {
  font: 100% Helvetica, sans-serif;
}
.container .topic img {
  max-width: 100%;
  height: auto;
}
.container .menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.container .menu ul li {
  float: left;
  height: 100%;
}
.container .menu ul li:first-child {
  padding-left: 160px;
}
.container .menu ul li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.container .menu ul li a:hover {
  background-color: #111;
}
.container .menu ul li a img {
  width: 15px;
}

/*# sourceMappingURL=style.css.map */
