
$box-width: 300px;
$box-height: 600px;
$font-family: Arial;

$background-header: #8a0304;

%border-align {
	border-bottom: 1px solid rgba(0,0,0,.1);
	padding: 10px;
}

.ads-wrapper {
	max-width: $box-width;
	max-height: $box-height;
	font-family: $font-family;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 4px;
	// header
	.header {
		position: relative;
		background: $background-header;
		line-height: 40px;
		&__title {
			text-transform: uppercase;
			font-size: 14px;
			color: #fff;
			margin: 0 10px;
		}
		&__icon-link {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 1;
			display: block;
			background: url("image/adxlogo-2.png") no-repeat top right;
			width: 35px;
			height: 20px;
			text-decoration: none;
			&:hover {
				width: 109px;
				background: url("image/adxlogo-2-hover.png") no-repeat top right;
				padding-left: 10px;
				.txtlogo {
					display: block;
					box-sizing: content-box;
					display: block;
					font: 11px tahoma,arial;
					color: #9b9b9b;
					line-height: 17px;
					margin-left: 15px;
				}
			}
			.txtlogo {
				display: none;
			}
			
		}
	}
	
	// main content: 
	.content {
		.lists {
			padding: 0px;
			margin: 0;
			display: flex;
			flex-direction: column;
			.article {
				@extend %border-align;
				display: flex;
				&__img {
					width: 60px;
					height: 60px;
					margin-right: 10px;
				}
				&__content {
					margin: 5px 0;
					a {
						color: #554e4e;
						font-size: 13px;
						line-height: 17px;
						text-decoration: none;
					}
				}
			}
		}
	}

	//footer
	.footer {
		line-height: 50px;
		&__author {
			color: #989898;
			font-size: 13px;
			margin-left: 10px;
			&--links {
				color: $background-header;
				text-decoration: none;
				font-weight: bold;
			}
		}
	}
}