@charset "UTF-8";
.ads-wrapper .content .article, .ads-wrapper .content .list-relate li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px; }

.ads-wrapper .content .list-relate {
  padding: 0px;
  margin: 0;
  display: flex;
  flex-direction: column; }

.ads-wrapper {
  max-width: 300px;
  max-height: auto;
  font-family: Arial;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px; }
  .ads-wrapper .header {
    position: relative;
    background: #8a0304;
    line-height: 40px; }
    .ads-wrapper .header__title {
      text-transform: uppercase;
      font-size: 14px;
      color: #fff;
      margin: 0 10px; }
    .ads-wrapper .header__icon-link {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      display: block;
      background: url("image/adxlogo-2.png") no-repeat top right;
      width: 35px;
      height: 20px;
      text-decoration: none; }
      .ads-wrapper .header__icon-link:hover {
        width: 109px;
        background: url("image/adxlogo-2-hover.png") no-repeat top right;
        padding-left: 10px; }
        .ads-wrapper .header__icon-link:hover .txtlogo {
          display: block;
          box-sizing: content-box;
          display: block;
          font: 11px tahoma,arial;
          color: #9b9b9b;
          line-height: 17px;
          margin-left: 15px; }
      .ads-wrapper .header__icon-link .txtlogo {
        display: none; }
  .ads-wrapper .content .article {
    display: flex; }
    .ads-wrapper .content .article__img {
      width: 100px;
      height: 100px;
      margin-right: 10px; }
    .ads-wrapper .content .article__content {
      margin: 0; }
      .ads-wrapper .content .article__content a {
        color: #554e4e;
        line-height: 17px;
        text-decoration: none;
        font-size: 13px;
        display: block; }
      .ads-wrapper .content .article__content p {
        color: #797979;
        margin: 10px 0 0 0;
        font-weight: normal;
        font-size: 12px; }
  .ads-wrapper .content .list-relate li {
    position: relative; }
    .ads-wrapper .content .list-relate li a {
      color: #554e4e;
      line-height: 17px;
      text-decoration: none;
      font-size: 13px;
      display: block;
      font-weight: bold;
      margin-left: 15px; }
      .ads-wrapper .content .list-relate li a::before {
        content: "•";
        font-size: 30px;
        display: inline-block;
        color: #8a0304;
        position: absolute;
        top: 11px;
        left: 10px; }
  .ads-wrapper .footer {
    line-height: 50px; }
    .ads-wrapper .footer__author {
      color: #989898;
      font-size: 13px;
      margin-left: 10px; }
      .ads-wrapper .footer__author--links {
        color: #8a0304;
        text-decoration: none;
        font-weight: bold; }

/*# sourceMappingURL=ads-300x250.css.map */
